#screen {
  position: absolute;
  height: 60px;
  width: 600px;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

#buttons {
  position: absolute;
  top: 84px;
  height: 348px;
  width: 600px;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

.functional-buttons {
  position: absolute;
  left: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  border-color: black;
  border-width: 1px;
  border-radius: 12px;
  background-color: lightgrey;
}

.number-buttons {
  position: absolute;
  right: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  border-color: black;
  border-width: 1px;
  border-radius: 12px;
  background-color: lightgrey;
}

#reset {
  position: absolute;
  top: 6px;
  left: 3px;
  height: 62px;
  width: 169px;
  background-color: lightgreen;
  font-weight: bold;
}

#square-root {
  position: absolute;
  top: 74px;
  left: 3px;
  height: 62px;
  width: 81px;
}

#percent {
  position: absolute;
  top: 74px;
  left: 91px;
  height: 62px;
  width: 81px;
}

#plus {
  position: absolute;
  top: 142px;
  left: 3px;
  height: 62px;
  width: 81px;
}

#minus {
  position: absolute;
  top: 142px;
  left: 91px;
  height: 62px;
  width: 81px;
}

#multiply {
  position: absolute;
  top: 210px;
  left: 3px;
  height: 62px;
  width: 81px;
}

#division {
  position: absolute;
  top: 210px;
  left: 91px;
  height: 62px;
  width: 81px;
}

#equal {
  position: absolute;
  top: 278px;
  left: 3px;
  height: 62px;
  width: 81px;
}

#dot {
  position: absolute;
  top: 278px;
  left: 91px;
  height: 62px;
  width: 81px;
}

#zero {
  position: absolute;
  top: 261px;
  right: 6px;
  height: 79px;
  width: 81px;
}

#double_zero {
  position: absolute;
  top: 261px;
  right: 93px;
  height: 79px;
  width: 168px;
}

#one {
  position: absolute;
  top: 176px;
  right: 6px;
  height: 79px;
  width: 81px;
}

#two {
  position: absolute;
  top: 176px;
  right: 93px;
  height: 79px;
  width: 81px;
}

#three {
  position: absolute;
  top: 176px;
  right: 180px;
  height: 79px;
  width: 81px;
}

#four {
  position: absolute;
  top: 91px;
  right: 6px;
  height: 79px;
  width: 81px;
}

#five {
  position: absolute;
  top: 91px;
  right: 93px;
  height: 79px;
  width: 81px;
}

#six {
  position: absolute;
  top: 91px;
  right: 180px;
  height: 79px;
  width: 81px;
}

#seven {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 79px;
  width: 81px;
}

#eight {
  position: absolute;
  top: 6px;
  right: 93px;
  height: 79px;
  width: 81px;
}

#nine {
  position: absolute;
  top: 6px;
  right: 180px;
  height: 79px;
  width: 81px;
}
